pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.Painting {
    background-color: rgb(79, 146, 201);
    text-align: center;
}

.Music {
    background-color: mediumaquamarine;
    text-align: center;
}
.Translation {
    background-color: rgba(255, 192, 203, 0.781);
    text-align: center;
}

.Frontend {
    background-color: lightblue;
    text-align: center;
}

.Backend {
    background-color: rgb(172, 115, 224);
    text-align: center;
}
